.container {
  height: 100vh;
  padding: 24rem 0 8rem 0;
  margin-top: -24rem;
}

.cell {
  position: relative;
  cursor: pointer;
}

.polygon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
