.container {
  height: 100vh;
  padding: 24rem 0 8rem 0;
  margin-top: -24rem;
  margin-inline: -8rem; /* !! hmmm */
  padding-inline: 8rem; /* !! hmmm */
}

.cell {
  position: relative;
  cursor: pointer;
  box-shadow: var(--shadow);
}

.polygon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
