.container {
  height: 100svh;
  padding: 24rem 0 8rem 0;
  margin-top: -24rem;
  margin-inline: -8rem; /* !! hmmm */
  padding-inline: 8rem; /* !! hmmm */
}

.cell {
  position: relative;
  cursor: pointer;
  box-shadow: var(--shadow);
  overflow: hidden;
}

.placeholder {
  position: absolute;
  inset: 0;
  z-index: 1;
  animation: placeholderPulse 1s ease-in-out infinite;
}

@keyframes placeholderPulse {
  0%,
  100% {
    background: #c4c4c4;
  }
  50% {
    background: var(--primary);
  }
}

.polygon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  pointer-events: none;
}
