.container {
  height: calc(100vh - 32rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.list {
  width: 100%;
  list-style: none;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  user-select: none;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.item {
  position: relative;
  height: 4rem;
  scroll-snap-align: start;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;

  &:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3rem;
    background: var(--secondary);
    opacity: 0.03;
  }
}

.itemContent {
  display: inline-block;
  white-space: nowrap;
}

@property --dial-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.loadingIndicator {
  position: absolute;
  margin-top: 6.5px;
  left: 6rem;
  width: 9px;
  height: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  animation: indicatorFadeIn 0s linear 0.5s forwards;
}

@keyframes indicatorFadeIn {
  to {
    opacity: 1;
  }
}

.dialFill {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  --dial-angle: 0deg;
  background: conic-gradient(from 0deg, var(--secondary) var(--dial-angle), var(--primary) var(--dial-angle));
  animation: dialFillAnimation 1.5s linear 0.5s forwards;
}

@keyframes dialFillAnimation {
  0% {
    --dial-angle: 0deg;
  }
  100% {
    --dial-angle: 360deg;
  }
}

:is(.itemContent.selected, .item:hover .itemContent)[data-overflowing='true'] {
  animation: scrollText 4s infinite alternate linear;
}

@keyframes scrollText {
  0%,
  20% {
    transform: translateX(0);
  }
  80%,
  100% {
    transform: translateX(calc(32rem - 100%));
  }
}

.spacer {
  height: calc(100% - 4rem);
  pointer-events: none;
}

.separatorGap {
  height: 4rem;
  pointer-events: none;
  scroll-snap-align: none;
}

.separatorLine {
  height: 0.1rem;
  pointer-events: none;
  scroll-snap-align: none;
  border-bottom: 1px solid var(--secondary);
  opacity: 0.1;
  margin-bottom: 0;
}

.eLiveTitle {
  position: sticky;
  bottom: 0px;
  height: 4rem;
  scroll-snap-align: none;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: auto;
  color: var(--secondary);
  display: flex;
  align-items: center;
  /* background: var(--primary); */
  z-index: 9;
}

.skipToPrefix {
  display: inline-block;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  white-space: pre;
}

.skipToVisible {
  opacity: 1;
}

.skipToHidden {
  opacity: 0;
}

.eLiveText {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.skipToVisible + .eLiveText {
  transform: translateX(0);
}

.skipToHidden + .eLiveText {
  transform: translateX(-56.39px);
}

.fade {
  position: absolute;
  height: 24rem;
  bottom: 8rem;
  background: linear-gradient(180deg, transparent 0%, var(--primary) 80%);
  pointer-events: none;
  width: 32rem;
  z-index: 1;
}

.bar {
  position: absolute;
  background: var(--primary);
  height: 3rem;
  width: 40rem;
  mix-blend-mode: difference;
  pointer-events: none;
  margin-top: 4.5rem;
  z-index: 10;
  left: 0;
  overflow: visible;
}

.barCropper {
  position: absolute;
  background: var(--primary);
  height: 0.5rem;
  width: 40rem;
  left: 0;
  margin-top: 4rem;
  z-index: 10;
}

.search {
  width: 32rem;
  height: 4rem;
  flex-grow: 0;
  flex-shrink: 0;
  border: 0px;
  background: transparent;
  padding: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--secondary);
    opacity: 0.4;
  }
}

.eLiveButton {
  display: none;

  width: 32rem;
  height: 4rem;
  flex-grow: 0;
  flex-shrink: 0;
  border: 0;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  text-align: left;

  &:focus {
    outline: none;
  }
}

@media (max-width: 1400px) {
  .item:hover::before {
    content: none;
  }

  .bar,
  .barCropper {
    width: 100%;
  }

  .barCropper {
    height: 1rem;
    margin-top: 3.5rem;
  }

  .search {
    margin: 0;
    width: 100%;
  }

  .eLiveButton {
    width: 100%;
  }

  .loadingIndicator {
    left: unset;
    right: 2.5rem;
  }

  .eLiveTitle {
    height: 8rem;
    align-items: flex-end;
    margin-bottom: -4rem;
    translate: 0 -4rem;
    padding-bottom: 6px;

    background: var(--primary);
    z-index: 2;
    background: linear-gradient(180deg, transparent 0%, var(--primary) 50%);
    bottom: -4rem;
  }

  .fade {
    bottom: 0;
    height: 8rem;
    background: linear-gradient(180deg, transparent 0%, var(--primary) 75%);
  }

  .container {
    height: calc(100vh - 8rem - 2rem);
  }
}
