.container {
  height: calc(100vh - 32rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.list {
  width: 100%;
  list-style: none;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  user-select: none;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.item {
  position: relative;
  height: 4rem;
  scroll-snap-align: start;
  white-space: nowrap;
  overflow: hidden;

  &:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3rem;
    background: var(--secondary);
    opacity: 0.03;
  }
}

.itemContent {
  display: inline-block;
  white-space: nowrap;
}

:is(.itemContent.selected, .item:hover .itemContent)[data-overflowing='true'] {
  animation: scrollText 4s infinite alternate linear;
}

@keyframes scrollText {
  0%,
  20% {
    transform: translateX(0);
  }
  80%,
  100% {
    transform: translateX(calc(32rem - 100%));
  }
}

.spacer {
  height: calc(100% - 4rem);
  pointer-events: none;
}

.separatorGap {
  height: 4rem;
  pointer-events: none;
  scroll-snap-align: none;
}

.separatorLine {
  height: 0.1rem;
  pointer-events: none;
  scroll-snap-align: none;
  border-bottom: 1px solid var(--secondary);
  opacity: 0.1;
  margin-bottom: 0;
}

.eLiveTitle {
  position: sticky;
  bottom: 0px;
  height: 4rem;
  scroll-snap-align: none;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: auto;
  color: var(--secondary);
  display: flex;
  align-items: center;
  /* background: var(--primary); */
  z-index: 10;
}

.skipToPrefix {
  display: inline-block;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  white-space: pre;
}

.skipToVisible {
  opacity: 1;
}

.skipToHidden {
  opacity: 0;
}

.eLiveText {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.skipToVisible + .eLiveText {
  transform: translateX(0);
}

.skipToHidden + .eLiveText {
  transform: translateX(-56.39px);
}

.fade {
  position: absolute;
  height: 24rem;
  bottom: 8rem;
  background: linear-gradient(180deg, transparent 0%, var(--primary) 80%);
  pointer-events: none;
  width: 32rem;
  z-index: 1;
}

.bar {
  position: absolute;
  background: var(--primary);
  height: 3rem;
  width: 40rem;
  mix-blend-mode: difference;
  pointer-events: none;
  margin-top: 4.5rem;
  z-index: 1;
  left: 0;
}

.barCropper {
  position: absolute;
  background: var(--primary);
  height: 0.5rem;
  width: 40rem;
  left: 0;
  margin-top: 4rem;
  z-index: 1;
}

.search {
  width: 32rem;
  height: 4rem;
  flex-grow: 0;
  flex-shrink: 0;
  border: 0px;
  background: transparent;
  padding: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--secondary);
    opacity: 0.4;
  }
}

.eLiveButton {


  display: none;

  width: 32rem;
  height: 4rem;
  flex-grow: 0;
  flex-shrink: 0;
  border: 0;
  background: transparent;
  /* color: var(--secondary); */
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  text-align: left;
  /* transition: opacity 0.2s; */
  /* color: var(--tertiary); */



  /* &:hover {
    opacity: 0.6;
  } */

  &:focus {
    outline: none;
  }

  /* &:active {
    opacity: 0.4;
  } */
}

@media (max-width: 1400px) {
  .container {
    height: calc(100vh - 8rem);
    margin-bottom: -2rem;
  }

  .item:hover::before {
    content: none;
  }

  .bar,
  .barCropper {
    width: 100%;
  }

  .search {
    margin: 0;
    width: 100%;
  }

  .eLiveButton {
    width: 100%;
  }
}
