.logo {
  height: 100%;

  & img {
    height: 100%;
    width: auto;
    object-fit: contain;
    transform-origin: left;
    scale: 1.15;
  }
}

.vault {
  --primary: #ff4338;

  & header {
    z-index: 1;
  }

  & .logo {
    filter: brightness(0);
  }
}

.navLinks {
  display: flex;
  position: relative;
  gap: 0.5rem;
  height: min-content;
  background-color: var(--primary);
}

.navLinks a {
  padding-block: 1rem;
  padding-inline: 6px;
  mix-blend-mode: difference;
  background: var(--primary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight {
  position: absolute;
  top: 6px;
  height: 3rem;
  background: var(--secondary);
}

.wrapper {
  width: 300px;
  background: var(--tertiary);
  height: 30px;
  overflow: hidden;
  transform-origin: bottom right;
  transform: rotate(45deg);
  position: absolute;
  top: 80px;
  right: 0;
  box-shadow: var(--shadow);
  text-decoration: none;
  transition: 500ms;
  z-index: 2;

  &:hover {
    scale: 1.01;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 1400px) {
  .logo {
    display: none;
  }

  .navLinks {
    margin-top: -6px;

    & a {
      padding-bottom: 26px;
    }
  }

  .vaultLink {
    text-decoration: none;

    & span {
      height: 3rem;
      background-color: var(--tertiary);
      color: var(--primary);
      padding: 2px 6px 1rem 6px;
      display: flex;
    }

    & a {
      text-decoration: none;
    }
  }

  .vault span {
    background-color: var(--secondary);
  }
}
