.vault {
  column-width: 200px;
  column-gap: 2rem;
}

.imageContainer {
  cursor: pointer;
  margin: 0 0 2rem 0;
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
}

.image {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  display: block;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modalImage {
  display: block;
  max-width: 100%;
  max-height: calc(100vh - 16rem);
  width: auto;
  height: auto;
}

.modalCloseButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: var(--tertiary);
  font-size: 3rem;
  cursor: pointer;
  padding: 0 0.5rem;
  line-height: 1;
}
