.vault {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  height: 100%;
}

.image {
  width: 100%;
  height: auto;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
