:root {
  --font-mono: 'Roboto Mono', monospace;
  font-size: 8px;
}

* {
  box-sizing: border-box;
  font-size: 2rem;
}

body {
  background-color: #dfdfdf;
  margin: 8rem;
}

main {
  position: absolute;
  height: calc(100vh - 32rem);
  width: calc(100vw - 16rem);
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.scrollable {
  overflow: auto;
  height: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Webkit */
  }
}
